<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.url">jdbc:mariadb://webinfo.iutmontp.univ-montp2.fr:3316/asiamarc</property>

        <property name="connection.username">asiamarc</property>
        <property name="connection.password">jorklanJ4*</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>

        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="fr.umontpellier.iut.rouletteihm.metier.entite.Client"/>
        <mapping class="fr.umontpellier.iut.rouletteihm.metier.entite.Historique"/>
        <mapping class="fr.umontpellier.iut.rouletteihm.metier.entite.ParisGagner"/>
    </session-factory>
</hibernate-configuration>